{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-lg-12 row" id="pdf">
        <div class="card col-md-7">
            <div class="card-body row">
                <div class="col-md-12">
                    <div class="row mb-2">
                        <div class="col-md-2 center-flex">
                            <img src="{{ asset('img/logo-cm-removebg-preview.png')}}" width="75" height="75">
                        </div>
                        <div class="col-md-8">
                            <h1>{{fiche.getNom()}} {{fiche.getPrenom()}}</h1>
                        </div>
                    </div>
                    <h4>née le {{fiche.getDatedenaissance() | date("M, d Y")}} à {{fiche.getLieudenaissance()}}</h4>
                    <h4>{{fiche.getAge()}} ans</h4>
                    <p>
                        <a class="btn btn-sm btn-primary text-white" href="{{ path("app_excuse", { id: fiche.getId() } ) }}"><span class="badge badge-danger">{{count["excuse"]}}</span> Demande d'explication</a>
                        <a class="btn btn-sm btn-primary text-white" href="{{ path("app_avertissements", { id: fiche.getId() } ) }}"><span class="badge badge-danger">{{count["avertissement"]}}</span> Avertissements</a>
                        <a class="btn btn-sm btn-primary text-white" href="{{ path("app_congee", { id: fiche.getId() } ) }}"><span class="badge badge-danger">{{count["congee"]}}</span> Congées</a>
                        <a class="btn btn-sm btn-primary text-white" href="{{ path("app_permission", { id: fiche.getId() } ) }}"><span class="badge badge-danger">{{count["permission"]}}</span> Permission</a>
                    </p>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>CIN</th>
                                <td>{{fiche.getCIN()}}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{fiche.getSexe()}}</td>
                            </tr>
                            <tr>
                                <th>Situation matrimoniale</th>
                                <td>{{fiche.getSituationmatrimoniale()}}</td>
                            </tr>
                            <tr>
                                <th>Matricule</th>
                                <td>{{fiche.getMatricule() | default("--")}}</td>
                            </tr>
                            <tr>
                                <th>Poste</th>
                                <td>{{fiche.getPoste()}}</td>
                            </tr>
                            <tr>
                                <th>Service</th>
                                <td>{{fiche.getService() | default("--")}}</td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <td>{{fiche.getDirection()}}</td>
                            </tr>
                            <tr>
                                <th>Contrat</th>
                                <td>{{fiche.getContrat()}}</td>
                            </tr>
                            <tr>
                                <th>Indice</th>
                                <td>{{fiche.getIndice()}}</td>
                            </tr>
                            <tr>
                                <th>Categorie</th>
                                <td>{{fiche.getCategorie()}}</td>
                            </tr>
                            <tr>
                                <th>Grade</th>
                                <td>{{fiche.getGrade()}}</td>
                            </tr>
                            <tr>
                                <th>Nombre d'enfants</th>
                                <td>{{fiche.getNbenfant()}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div>
                            <a class="btn btn-sm btn-primary mr-2" href="{{ path("app_personnel_editinfo", { id: fiche.getId() } ) }}">Modifier information personnel</a>
                            <a class="btn btn-sm btn-primary mr-2" href="{{ path("app_personnel_editposte", { id: fiche.getId() } ) }}">Modifier Poste</a>
                            <a class="btn btn-sm btn-primary mr-2" href="{{ path("app_personnel_remove", { id: fiche.getId() } ) }}">Supprimer personnel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body">
                        <form method="GET" action="{{ path("app_salaire_etatdirection") }}">
                            <h3>Fiche de paie</h3>
                            <div class="form-row">
                                <div class="col">
                                    <input id="month-selector" name="date" type="date" class="col mx-2 form-control">
                                    <input value="{{fiche.getId()}}" name="personnel_id" type="hidden" class="col mx-2 form-control">
                                </div>
                                <div class="col">
                                    <input type="submit" value="Voir" class="form-control btn btn-sm btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card card-body">
                        
                        <div class="">
                            <form method="POST" action="{{ path("app_salaire_indemnitepdf")}}">
                                <label>Date</label>
                                <input name="personnel_id" value="{{fiche.getId()}}" class="form-control mb-2" type="number" hidden>
                                <input name="date" class="form-control mb-2" type="month">
                                <label>Responsabilité de caisse de tresor</label>
                                <input value="13000" name="resp" class="form-control mb-2" value="0" type="number">
                                <label>Representation</label>
                                <input value="300000" name="repr" class="form-control mb-2" value="0" type="number">
                                <label>Pension alimentaire</label>
                                <input value="18000" name="alim" class="form-control mb-2" value="0" type="number">
                                <input class="form-control mb-2 btn btn-primary" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
