{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                {{ form_start(form) }}
                <div class="form-row">
                    {{ form_widget(form.nom) }}
                    {{ form_widget(form.prenom) }}
                    {{ form_widget(form.direction) }}
                    {{ form_widget(form.indice) }}
                    {{ form_widget(form.contrat) }}
                    {{ form_widget(form.rechercher) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        
        <div class="card">
            <div class="card-header row">
                <a href="personnel/add" class="btn btn-primary mx-2">+ ajouter nouveau personnel</a>
                <a href="personnel/listecontratexpiree" class="btn btn-primary mx-2"><span class="badge badge-danger">{{count['contrat_count']}}</span> Fin de contrat</a>
                <a href="personnel/listeretraite" class="btn btn-primary mx-2"><span class="badge badge-danger">{{count['retraite_count']}}</span> Retraite</a>
            </div>
            <!-- <div class="card-header">
                <a class="btn btn-primary text-white" href="/personnel"><span class="badge badge-danger">0</span> Demande d'explication</a>
                <a class="btn btn-primary text-white" href="/personnel"><span class="badge badge-danger">0</span> Avertissements</a>
                <a class="btn btn-primary text-white" href="/personnel"><span class="badge badge-danger">0</span> Congées</a>
                <a class="btn btn-primary text-white" href="/personnel"><span class="badge badge-danger">0</span> Permission</a>
            </div> -->
        </div>
        <!-- /.card -->

    </div>

    <div class="col-lg-12" id="pdf">
        <div class="card">
            <div class="card-header">

                <div class="card-tools row">
                    <div class="mx-2">
                        <div class="input-group input-group-sm">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Page actuelle</span>
                          </div>
                          <input id="limit" type="number" class="form-control" value="{{pagination["page"]}}" disabled>
                        </div>
                    </div>
                    <ul class="pagination pagination-sm">
                        {% if ((pagination["page"] - 1) > 0)%}
                            <li class="page-item"><a href="?page={{pagination["page"] - 1 }}" class="page-link">{{pagination["page"] - 1}}</a></li>
                        {% endif %}
                        <li class="page-item"><a href="?page={{pagination["page"]}}" class="page-link">{{pagination["page"]}}</a></li>
                        {% if ((pagination["maxcount"]) >= pagination["page"] * 10)%}
                            <li class="page-item"><a href="?page={{pagination["page"] + 1 }}" class="page-link">{{pagination["page"] + 1}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="">
                    <table class="table table-bordered table-sm table-responsive-sm">
                        <tr>
                            <th>CIN</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Direction</th>
                            <th>Contrat</th>
                            <th>Indice</th>
                        </tr>
                        <tbody>
                            {% if personnels|length > 0%}
                               {% for item in personnels %}
                                <tr>
                                    <td>
                                        <a href="personnel/fiche/{{item.getId()}}">{{item.getCIN()}}</a>
                                    </td>
                                    <td>
                                        <a href="personnel/fiche/{{item.getId()}}">
                                            {{item.getNom()}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="personnel/fiche/{{item.getId()}}">
                                            {{item.getPrenom()}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="personnel/fiche/{{item.getId()}}">
                                            {{item.getDirection()}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="personnel/fiche/{{item.getId()}}">
                                            {{item.getContrat()}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="personnel/fiche/{{item.getId()}}">
                                            {{item.getIndice()}}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-md-6 -->
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $("input").change(function(){
            $("form").submit();
        });
        $("select").change(function(){
            $("form").submit();
        });
    });
</script>

{% endblock %}
