{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
    <div class="col-lg-12">
        
        <div class="card">
            <div class="card-header row">
                <form method="GET" action="/salaire/direction">
                    <div class="form-row">
                        <label class="col mx-2">Rechercher etat precédent :</label>
                        <input id="month-selector" name="date" type="date" class="col mx-2 form-control">
                        <select name="direction" class="col mx-2 form-control">
                            <option value="-1">Tous</option>
                            {% if directions|length > 0%}
                                {% for item in directions %}
                                    <option value="{{item.getId()}}">{{item.getDesignation()}}</option>
                                {% endfor %}              
                            {% endif %}
                        </select>
                        <select name="contrat" class="col mx-2 form-control">
                            <option value="-1">Tous</option>
                            {% if contrats|length > 0%}
                                {% for item in contrats %}
                                    <option value="{{item.getId()}}">{{item.getDesignation()}}</option>
                                {% endfor %}              
                            {% endif %}
                        </select>
                        <input id="month-selector" type="submit" class="col mx-2 form-control btn btn-primary" value="Rechercher">
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-lg-12" id="pdf">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    <h3>Dernier etat general par directions</h3>
                </h3>

            </div>
            <div class="card-body">
                <div class="">
                    <table class="table table-bordered">
                        <tr>
                            <th>Directions</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td><a class="link" href="/salaire/direction/">Etat general</a></td>
                            </tr>
                            {% if directions|length > 0%}
                               {% for item in directions %}
                                <tr>
                                    <td><a class="link" href="/salaire/direction/?direction={{item.getId()}}">{{item.getDesignation()}}</a></td>
                                </tr>
                                {% endfor %}              
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-md-6 -->
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<script type="text/javascript">
    // var today = new Date();
    // var month = today.getMonth();
    // month += 1;
    // month += "";
    // month = (month.length < 2 ) ? "0"+month : month;
    // document.getElementById("month-selector").value = `${today.getFullYear()}-${month}`;
    
    // var links = document.getElementsByClassName('link');
    // console.log(links);
    // for (let item of links) {
    //     item.href += `?date=${today.getFullYear()}-${month}`;
    // }
</script>

{% endblock %}
