<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{% block title %} RH | {{ current_page }}{% endblock %}</title>
<link rel="icon" href="{{ asset('img/logo-cm-removebg-preview.png')}}">

{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<!-- Font Awesome Icons -->
<link rel="stylesheet"
	href="{{ asset('plugins/fontawesome-free/css/all.min.css')}}">
<!-- IonIcons -->
<!-- Theme style -->
<link rel="stylesheet"
	href="{{ asset('dist/css/adminlte.min.css')}}">
<!-- Google Font: Source Sans Pro -->
</head>

<body class="hold-transition sidebar-mini">
	<style>
		.btn-primary{
			background: #dbb10c!important;
			border-color:  #dbb10c!important;
		}
		.center-flex{
			display: flex;
			justify-content: center;
		}
		.card{
			border-bottom: 3.5px solid #dbb10c!important;
		}
		.bg-primary{
			background: #dbb10c!important;
		}
		.nav-link.active{
			background-color: #dbb10c!important;
		}
		.badge-admin{
			background-color: #db4747!important;
		}
		.badge-depense{
			background-color: #4cdf6c!important;
		}
	</style>
	<div class="wrapper">
		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
					href="#" role="button"><i class="fas fa-bars"></i></a></li>
			</ul>


			<ul class="navbar-nav ml-auto">
				<!-- Messages Dropdown Menu -->
				<li class="nav-item dropdown">
				  <a class="nav-link" data-toggle="dropdown" href="#">
					<i class="far fa-user"></i>
				  </a>
				  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
					<a href="/profile/{{user.id}}" class="dropdown-item">
					  <!-- Message Start -->
					  <div class="media">
							<div class="media-body">
								<h3 class="dropdown-item-title">
									{{user.identifiant}}
								</h3>
								{% for roles in user.getRoles()  %}
									<p class="text-sm text-white badge badge-{{roles.getDesignation()}}">{{roles.getDesignation()}}</p>
								{% endfor %}
							</div>
					  </div>
					  <!-- Message End -->
					</a>
					<div class="dropdown-divider"></div>
					<a href="{{path("se_de_connecter")}}" class="dropdown-item dropdown-footer">Se deconnecter.</a>
				  </div>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->
		
		
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="index.html" class="brand-link center-flex">
				<img width="100" height="100" src="{{ asset('img/logo-cm-removebg-preview.png')}}" />
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column"
						data-widget="treeview" role="menu" data-accordion="false">
						<li class="nav-header py-0"></li>
						<li class="nav-header pl-2"><h6>Personnel</h6></li>
							<li class="nav-item">
								<a href="{{path("app_personnel")}}" class="nav-link">
									<i class="nav-icon fas fa-address-book"></i>
									<p>Personnel</p>
								</a>
							</li>
							<li class="nav-item has-treeview menu-close">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-pen-square"></i>
									<p>
										Alerte
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview pl-2">
									<li class="nav-item">
										<a href="{{path("app_personnel_listecontratexpiree")}}" class="nav-link">
											<i class="nav-icon fas fa-pen-square"></i>
											<p>
												Fin de contrat
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path("app_personnel_listeretraite")}}" class="nav-link">
											<i class="nav-icon fas fa-pen-square"></i>
											<p>Retraite</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-header pl-2"><h6>Salaire</h6></li>
							<li class="nav-item has-treeview menu-close">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-chart-bar"></i>
									<p>
										Statistiques
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview pl-2">
									<li class="nav-item">
										<a href="{{path("app_salaire_etatsalaireparcontratstatsannuel")}}" class="nav-link">
											<i class="nav-icon fas fa-chart-bar"></i>
											<p>Annuel par contrat </p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path("app_salaire_etatsalaireparcontratstats")}}" class="nav-link">
											<i class="nav-icon fas fa-chart-bar"></i>
											<p>Mensuel par contrat</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path("app_salaire_etatsalairepardirectionstats")}}" class="nav-link">
											<i class="nav-icon fas fa-chart-bar"></i>
											<p>Par directions</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item has-treeview menu-close">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-money-bill-alt"></i>
									<p>
										Salaire
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview pl-2">
									<li class="nav-item">
										<a href="{{path("app_bareme_import_form")}}" class="nav-link">
											<i class="nav-icon fas fa-money-bill-alt"></i>
											<p>Importer bareme</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path("app_salaire_etatgeneral")}}" class="nav-link">
											<i class="nav-icon fas fa-money-bill-alt"></i>
											<p>Etat general</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path("app_salaire_indemniteform")}}" class="nav-link">
											<i class="nav-icon fas fa-money-bill-alt"></i>
											<p>Indemnités</p>
										</a>
									</li>
								</ul>
							</li>
						<li class="nav-header pl-2"><h6>Gestion</h6></li>
						<li class="nav-item has-treeview menu-close">
							<a href="#" class="nav-link">
							  <i class="nav-icon fas fa-pen-square"></i>
							  <p>
								Gestion des élements
								<i class="right fas fa-angle-left"></i>
							  </p>
							</a>
							<ul class="nav nav-treeview pl-2">
								<li class="nav-item">
									<a href="{{path("app_direction")}}" class="nav-link">
										<i class="nav-icon fas fa-pen-square"></i>
										<p>Directions</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{path("app_contrat")}}" class="nav-link">
										<i class="nav-icon fas fa-pen-square"></i>
										<p>Contrat</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item has-treeview menu-close">
							<a href="{{path("app_user")}}" class="nav-link">
							  <i class="nav-icon fas fa-id-badge"></i>
							  <p>
								Utilisateurs
							  </p>
							</a>
						</li>
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">{{ current_page }}</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">{{ current_page }}</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
                    {% block body %}{% endblock %}
				</div>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Main Footer -->
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED SCRIPTS -->

		<!-- jQuery -->
		<script
			src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
		<!-- Bootstrap -->
		<script
			src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- AdminLTE -->
		<script
			src="{{ asset('dist/js/adminlte.js')}}"></script>

		<!-- OPTIONAL SCRIPTS -->
		<script
			src="{{ asset('dist/js/demo.js')}}"></script>
		<script
			src="{{ asset('dist/js/pages/dashboard3.js')}}"></script>
	</div>
</body>
</html>
